* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(243, 242, 243);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.sleipnir-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  height: 100vh;
}

.sleipnir-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.sleipnir-phone img {
  height: 70rem;
}

.sleipnir-continue {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  min-height: 34rem;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  padding: 1.3rem 0;
  border: 1px solid lightgray;
}

.group:nth-child(1) {
  min-height: 19rem;
}

.sleipnir-logo {
  height: 4rem;
}

.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture img {
  height: 6rem;
}

.sleipnir-login {
  background-color: #0095f6;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
}

.sleipnir-logout {
  color: #0095f6;
  margin-top: 1rem;
  /* font-weight: bold; */
}

.not-account {
  color: rgb(160, 160, 160);
}

.link-blue {
  color: #0095f6;
  font-weight: bold;
  cursor: pointer;
}

.get-the-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
}

.download {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1rem;
}

.app-download {
  height: 3rem;
  width: 10rem;
  background-size: cover;
}

.app-download:nth-child(1) {
  background-image: url('./assets/images/apple-button.png');
  margin-right: 10px;
}

.app-download:nth-child(2) {
  background-image: url('./assets/images/googleplay-button.png');
}

/* media queries */

@media (max-width: 1024px) {
  .sleipnir-wrapper {
    width: 90%;
  }
}

@media (max-width: 650px) {
  body {
    background-color: #ffffff;
  }

  .sleipnir-wrapper {
    width: 90%;
  }

  .sleipnir-phone {
    display: none;
  }

  .sleipnir-continue {
    width: 100%;
  }

  .group {
    border: 1px solid transparent;
  }
}